<!DOCTYPE html>
<html lang="en">
    <head>
        @*        <link rel="stylesheet" type="text/css" media="screen" href="/Content/css/icons.css" />*@
        <link rel="stylesheet" type="text/css" media="screen" href="/Content/css/planogram.css" />
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Planogram App</title>
        <script type="text/javascript" src="/Content/js/local/iq.bootstrap.min.js"></script>
        <!--
        <script type="text/javascript" src="//commondev.iqmetrix.net/js/iq.bootstrap.min.js"></script>
        -->
        <script type="text/javascript" src="/Content/js/strapon.js"></script>
        @RenderSection("Header", false)
    </head>
    <body>
@*<p class="site-title">@Html.ActionLink("MVC Movie", "Index", "Planogram")</p>*@
        <div id="body">
            @RenderBody()
            @RenderSection("Scripts", false)
        </div>
    </body>
</html>
